.card {
    width: 18rem;
    /* Set a fixed width for the card */
    border: none;
    border-radius: 10px;
    overflow: hidden;
    background: #f2bb3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align the card content */
}

.card:hover {
    cursor: pointer;
}

/* Circular Image with Fixed Size */
.card-img-top {
    width: 150px;
    /* Set a fixed width for the image */
    height: 150px;
    /* Set a fixed height for the image */
    border-radius: 50%;
    /* Make the image circular */
    object-fit: cover;
    /* Ensure the image covers the area without stretching */
    margin-top: 15px;
    /* Add some margin to separate from the card edges */
}
